<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Characters</title>
</head>
<body>
  <h1>Lord of the Rings Characters</h1>
  <ul>
    <% characters.forEach(character => { %>
      <li>
        <a href="/character?id=<%= character.id %>"><%= character.name %></a>
      </li>
     <% }) %>
  </ul>
</body>
</html>